.grid-container {
    display: grid;
    grid-template-columns: auto auto auto auto;
    padding: 10px;
}

[data-md-color-scheme="slate"] .grid-item {
  border: 3px solid rgb(30, 33, 41);
  padding: 20px;
  font-size: 12px;
}
.grid-item {
  border: 3px solid rgb(255, 255, 255);
  padding: 20px;
  font-size: 12px;
}

[data-md-color-scheme="slate"] .blue-tech {
  background-color: #001833;
}
.blue-tech {
  background-color: #dae8fc;
}

[data-md-color-scheme="slate"] .green-tech {
  background-color: #002212;
}
.green-tech {
  background-color: #d5e8d5;
}

[data-md-color-scheme="slate"] .yellow-tech {
  background-color: #222300;
}
.yellow-tech {
  background-color: #fef1cb;
}

[data-md-color-scheme="slate"] .red-tech {
  background-color: #320000;
}
.red-tech {
  background-color: #f8cfcc;
}

[data-md-color-scheme="slate"] .unit-tech {
  background-color: #181818;
}
.unit-tech {
  background-color: #f5f5f5;
}

.leadership-card {
  border: 5px solid #ad1d1c !important;
  color: #ad1d1c;
}
.diplomacy-card {
  border: 5px solid #bb5920 !important;
  color: #bb5920;
}
.politics-card {
  border: 5px solid #c5a500 !important;
  color: #c5a500;
}
.construction-card {
  border: 5px solid #467543 !important;
  color: #467543;
}
.trade-card {
  border: 5px solid #0e6376 !important;
  color: #0e6376;
}
.warfare-card {
  border: 5px solid #1356a3 !important;
  color: #1356a3;
}
.technology-card {
  border: 5px solid #2b3e9f !important;
  color: #2b3e9f;
}
.imperial-card {
  border: 5px solid #54296a !important;
  color: #54296a;
}

.breakthrough-synergy {
  text-align: center !important;
  font-size: 24px;
}

.breakthrough-synergy-quantumcore {
  text-align: center !important;
  font-size: 24px;
  line-height: 0;
  margin-top:-10px !important;
}

th:empty {
  display: none !important;
  border: none;
}

.splice-faction {
  text-align: right !important;
  font-size: 24px;
  line-height: 0;
  margin-top:-42px !important;
}

.splice-tech {
  text-align: right !important;
  font-size: 24px;
}

.unit-stats {
  text-align: center !important;
  font-size: 18px;
}

.attachment {
  text-align: center !important;
  font-size: 24px;
}