.grid-container {
    display: grid;
    grid-template-columns: auto auto auto auto;
    padding: 10px;
}

[data-md-color-scheme="slate"] .grid-item {
  border: 3px solid rgb(30, 33, 41);
  padding: 20px;
  font-size: 12px;
}
.grid-item {
  border: 3px solid rgb(255, 255, 255);
  padding: 20px;
  font-size: 12px;
}

[data-md-color-scheme="slate"] .blue-tech {
  background-color: #001833;
}
.blue-tech {
  background-color: #dae8fc;
}

[data-md-color-scheme="slate"] .green-tech {
  background-color: #002212;
}
.green-tech {
  background-color: #d5e8d5;
}

[data-md-color-scheme="slate"] .yellow-tech {
  background-color: #222300;
}
.yellow-tech {
  background-color: #fef1cb;
}

[data-md-color-scheme="slate"] .red-tech {
  background-color: #320000;
}
.red-tech {
  background-color: #f8cfcc;
}

[data-md-color-scheme="slate"] .unit-tech {
  background-color: #181818;
}
.unit-tech {
  background-color: #f5f5f5;
}

/* Strategy Cards */

.leadership-card {
  border: 5px solid #ad1d1c !important;
  background-color: #f6c5b1;
  color: black;
}
.diplomacy-card {
  border: 5px solid #bb5920 !important;
  background-color: #fae7a7;
  color: black;
}
.politics-card {
  border: 5px solid #c5a500 !important;
  background-color: #f6f6a2;
  color: black;
}
.construction-card {
  border: 5px solid #467543 !important;
  background-color: #b8d98b;
  color: black;
}
.trade-card {
  border: 5px solid #0e6376 !important;
  background-color: #b3e1dd;
  color: black;
}
.warfare-card {
  border: 5px solid #1356a3 !important;
  background-color: #b9eafb;
  color: black;
}
.technology-card {
  border: 5px solid #2b3e9f !important;
  background-color: #aacce7;
  color: black;
}
.imperial-card {
  border: 5px solid #54296a !important;
  background-color: #c3a2c6;
  color: black;
}

/* TF Strategy Cards */

.lux-card {
  border: 5px solid #ec1f25 !important;
  background-color: #fac4b7;
  color: black;
}
.noctis-card {
  border: 5px solid #f57a20 !important;
  background-color: #fdcc9d;
  color: black;
}
.tyrannus-card {
  border: 5px solid #fee446 !important;
  background-color: #ffeba8;
  color: black;
}
.civitas-card {
  border: 5px solid #02ad4e !important;
  background-color: #add8aa;
  color: black;
}
.amicus-card {
  border: 5px solid #009d86 !important;
  background-color: #9fd3cc;
  color: black;
}
.calamitas-card {
  border: 5px solid #008fd2 !important;
  background-color: #b4dbf3;
  color: black;
}
.magus-card {
  border: 5px solid #662d91 !important;
  background-color: #c1afd5;
  color: black;
}
.aeterna-card {
  border: 5px solid #cf118c !important;
  background-color: #eeb8d5;
  color: black;
}

.breakthrough-synergy {
  text-align: center !important;
  font-size: 24px;
}

.breakthrough-synergy-quantumcore {
  text-align: center !important;
  font-size: 24px;
  line-height: 0;
  margin-top:-10px !important;
}

th:empty {
  display: none !important;
  border: none;
}

.tech-type {
  text-align: right !important;
  font-size: 24px;
}

.splice-faction {
  text-align: right !important;
  font-size: 24px;
  line-height: 0;
  margin-top:-42px !important;
}

.splice-tech {
  text-align: right !important;
  font-size: 24px;
}

.unit-stats {
  text-align: center !important;
  font-size: 18px;
}

.attachment {
  text-align: center !important;
  font-size: 24px;
}